id: flow-deploy-service-blue-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: flow-deploy-service-blue
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 2
  replicaSelector:
    name: flow-deploy-service-blue
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: flow-deploy-service-blue
      app: flow-deploy-service-blue
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: flow-deploy-service-blue
        containers:
          - name: flow-deploy-service-blue
            image: octoblu/flow-deploy-service:$SHORT_COMMIT
            ports:
              - containerPort: 80
            env:
              - name: FLOW_DEPLOY_SERVICE_UUID
                value: $FLOW_DEPLOY_SERVICE_UUID
              - name: FLOW_DEPLOY_SERVICE_TOKEN
                value: $FLOW_DEPLOY_SERVICE_TOKEN
              - name: FLEETCTL_ENDPOINT
                value: $FLEETCTL_ENDPOINT
