id: flow-deploy-service-green-controller
kind: ReplicationController
apiVersion: v1beta1
labels:
  name: flow-deploy-service-green
  version: "$SHORT_COMMIT"
desiredState:
  replicas: 2
  replicaSelector:
    name: flow-deploy-service-green
    version: "$SHORT_COMMIT"
  podTemplate:
    labels:
      name: flow-deploy-service-green
      app: flow-deploy-service-green
      version: "$SHORT_COMMIT"
    desiredState:
      manifest:
        version: v1beta1
        id: flow-deploy-service-green
        containers:
          - name: flow-deploy-service-green
            image: octoblu/flow-deploy-service:$SHORT_COMMIT
            ports:
              - containerPort: 80

